
# Set Git's default behaviour to text-files autodetection, in case users
# don't have `core.autocrlf` set:
* text=auto

# Explicitly declare commonly used file extensions as either text or binary,
# and tell Git how to handle line-endings normalization.

## ===============
## PureBasic files
## ===============
*.cfg   text
*.pb    text
*.pbf   text
*.pbi   text
*.pbp   text
## -------------------------
## GitHub Linguist Settings:
## -------------------------
*.cfg   linguist-generated=true
*.pb    linguist-language=PureBasic
*.pbf   linguist-language=PureBasic
*.pbi   linguist-language=PureBasic
*.pbp   linguist-generated=true
*.pbp   linguist-language=XML
## -------------------------
## GitLab Linguist Settings:
## -------------------------
*.cfg   gitlab-generated=true
*.pb    gitlab-language=PureBasic
*.pbf   gitlab-language=PureBasic
*.pbi   gitlab-language=PureBasic
*.pbp   gitlab-generated=true
*.pbp   gitlab-language=XML

## =============
## Shell Scripts
## =============
*.bat      text eol=crlf
*.sh       text eol=lf
*.ps1      text eol=crlf
*.sed      text eol=lf

## ===================
## Documentation Files
## ===================
*.adoc       text
*.asciidoc   text
*.md         text
*.txt        text
*.doc        binary
*.docx       binary
*.odt        binary
*.pdf        binary
COPYING      text
LICENSE      text
UNLICENSE    text

## ===================
## Configuration Files
## ===================
*.cnf          text
*.conf         text
*.config       text
*.ini          text
*.prefs        text
.editorconfig  text
.gitattributes text
.gitconfig     text
.gitignore     text
.gitkeep       text
.gitmodules    text eol=lf

## ===============
## Zipped Archives
## ===============
*.7z       binary
*.gz       binary
*.jar      binary
*.rar      binary
*.tar      binary
*.zip      binary

## ==============
## Graphics Files
## ==============
*.bmp      binary
*.gif      binary
*.ico      binary
*.jpeg     binary
*.jpg      binary
*.png      binary
*.svg      binary
*.svgz     binary

## ==================
## Binary Executables
## ==================
*.app      binary
*.dll      binary
*.dylib    binary
*.exe      binary
*.out      binary
*.so       binary

# EOF #
